<nav class="navbar navbar-expand-lg navbar-light bg-Light">
    <a class="navbar-brand" >Lorem ipsum dolor </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="collapsibleNavId">
        <ul class="navbar-nav justify-content-center  mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/order/table'>Book A Table </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='/order/food'>Order Food</a>
            </li>
        </ul>
    </div>
</nav>