<!-- <p>viewfood works!</p> -->
<div  style="background-color:blue" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">View Food</h1>
      
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr class="col-lg-12">
                        <th scope="col">_id</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Number Of Guests</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Reservation By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="bg-primary" *ngFor='let datas of data'>
                        <th scope="row">{{datas._id}}</th>
                        <td>{{datas.PhoneNo}}</td>
                        <td>{{datas.numbofguests}}</td>
                        <td>{{datas.date}}</td>
                        <td>{{datas.time}}</td>
                        <td>{{datas.bookby}}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
</div>